.pr-footer__footer .only-mobile,
.pr-footer__footer .footer-tel,
.pr-footer__footer .footerlanguage,
#block-footermail,
.mail.footer-icon,
.footerlanguage h2
 {
	display: none;
}

.pr-footer__footer {
	/*background: #eaeaea;*/
	margin: 0 auto;	  max-width: 1024px;
	display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
}
.page .footer-container {
    font-family: "Helvetica Neue",Arial,sans-serif;
   	background: #eaeaea;
    color: #615d5d;
    padding: 40px 20px;
    width: 100%;
}
.page .pr-footer__footer>.block {
    margin: 0;
    flex-basis: 25%;
}
.page .pr-footer__footer #block-footericons {
    flex-basis: 23%;
}
.page .pr-footer__footer > div:last-child {
    flex-basis: 100%;
    margin: 30px 0 0;
}
.block-plugin-id--block-content0344e317-6ac1-4446-a78b-a6fa85c9a5f9 .field__item > p:first-of-type img {
	display: none;
}
.block-plugin-id--block-content0344e317-6ac1-4446-a78b-a6fa85c9a5f9 .field__item > p:first-of-type {
	margin: 0;
	margin-bottom: 40px;
	width: 148px;
	height: 18px;
	background: url("railninja_0.png") no-repeat;
}
.block-plugin-id--block-content0344e317-6ac1-4446-a78b-a6fa85c9a5f9 .field__item > p:nth-of-type(3) {
	margin-bottom: 40px;
}
.pr-footer__footer .block-plugin-id--system-menu-blockpopular-routes .block-menu__inner h2 {
	margin: 0;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 16px;
}
.pr-footer__footer .block-plugin-id--system-menu-blockpopular-routes .block-menu__inner ul {
		padding-left: 0;
}
.field-name-body.field-type-text-with-summary p {
	margin: 0;
}
.block-plugin-id--footer-icons .block__content .footer-icon {
	width: 48px;
    height: 48px;
    background-color: #777777;
    background: url(footer-icons-default.png) no-repeat;
    background-size: 150px;
    margin-bottom: 15px;
    cursor: pointer;
}

.block-plugin-id--footer-icons .block__content .footer-icon.tel {
    background-position: -51px 0;
}
.page .pr-footer__footer .footer-icon.lang {
	 background-position: -102px 0;
	 color: transparent;
}
.pr-footer__footer .block-plugin-id--footer-icons .block__content {
	display: flex;
	flex-direction: column;
    align-items: flex-end;
}
.page .pr-footer__footer > div:last-child {
    flex-basis: 100%;
    margin: 50px 0 0;
}
.block-plugin-id--block-contenta6413482-a6ed-48fc-8b15-e135244e494a p img {
	display: none;
}
.block-plugin-id--block-contenta6413482-a6ed-48fc-8b15-e135244e494a p {
	/*display: block;*/
	width: auto;
	max-width: 100%;
	height: 32px;
	background: url(stripe-grey_0.png) no-repeat;
	background-size: 100%;
}

.pr-footer__footer .footer-tel, .pr-footer__footer .footerlanguage {
	width: 100%;
	height: 450px;
	position: absolute;
	background: #eaeaea;
}
.l-r.region.pr-footer__footer {
	position: relative;
}
.pr-footer__footer .footer-tel .block__inner,
.pr-footer__footer .footerlanguage .block__inner {
	height: 100%;
	display: flex;
    align-items: center;
}
.pr-footer__footer .footer-tel .block__content,
.pr-footer__footer .footerlanguage .block__content {
	display: flex;
	width: 100%;
	padding: 40px 0px 40px 10px;
}
.pr-footer__footer /*.footer-tel*/ .block__content .block-title {
	flex-basis: 25%;
	padding-top: 20px;
}
.pr-footer__footer /*.footer-tel*/ .block__content .block-content {
	flex-basis: 70%;
	display: flex;
    align-items: center;
}
.pr-footer__footer /*.footer-tel*/ .block__content .footer-arrow {
	flex-basis: 5%;
}

/*.pr-footer__footer .footer-tel .block__content */.footer-arrow {
	/*position: relative;*/
	background: url(footer-arrow-right.svg) no-repeat 50% 50%;
    cursor: pointer;
    /*outline: 1px solid black;*/
    margin-left: 50px; /*flex-basis: 5%;*/
}
/*.pr-footer__footer .footer-tel .block__content .footer-arrow::before,
.pr-footer__footer .footer-tel .block__content .footer-arrow::after {
	position: absolute;
	content: "" ;
	width: 60px;
	height: 3px;
	cursor: pointer;
	background: #ab9f9f;
	left: 80%;
}*/

.pr-footer__footer .footer-tel .block__content .footer-arrow::before {
	transform: rotate(60deg);
	top: 40%;
}
.pr-footer__footer .footer-tel .block__content .footer-arrow::after {
	transform: rotate(120deg);
    top: 53.7%;
}
.pr-footer__footer .footer-tel .block__content .footer-arrow::before:hover,
.pr-footer__footer .footer-tel .block__content .footer-arrow::after:hover {
	background: red;
} 
.pr-footer__footer .footer-tel {
	transition: 0.5s linear;
}
.block-config-provider--rn-content .contacts {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 25px;
}
.page .pr-footer__footer .contacts .item {
    font-size: 1.625rem;
    line-height: 120%;
    margin-bottom: 38px;
}
.pr-footer__footer .whole-footer {
	width: 100%;
	height: 100%;
}
.block-title .large-icon .footer-icon.tel,
.footerlanguage .footer-icon .inner-icon {
	background: url(footer-icons-default.png) no-repeat;
    width: 60px;
    height: 60px;
    background-size: 180px;
    margin: 0 auto;
    color: transparent;
}
.block-title .large-icon .footer-icon.tel {
	background-position: -60px 0;
}
.footerlanguage .footer-icon .inner-icon {
	background-position: -120px 0;
}
.block-title .footer-title {
    text-align: center;
    font-size: 2.4rem;
    padding: 20px 0;
}
.block-title .footer-subtitle {
	font-size: 1.3rem;
	line-height: 130%;
	text-align: center;
}
.page .pr-footer__footer .contacts .item:last-of-type {
    margin: 0;
}
.pr-footer__footer .footerlanguage .block__content {
	display: flex;
}